.formstyle{
    margin-top: 100px;
    padding: 35px;
}
.inputstyle{
    padding: 15px;
    font-weight: bold;
    font-size: medium;
}
.Btnstyle{
    padding: 15px;
    font-weight: bold;
    font-size: medium;
}